
.wrapper{
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: transparent !important;
}
.panel{
    width: 70% !important;
    margin: 0 !important;
}
.form-group{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.form-control{
    width: 80% !important;
}
